html {
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
}
body {
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* tab library components styles */
.titles-wrapper{
    float: left;
    width: 30%;
}

.title {
    list-style-type: none;
    padding: 1em;
}
.title-selected {
    background: rgba(71,95,148,1);
    border-radius: 10px;
    transition: .5s;
}
.title-selected label{
    color: #fff;
}
.title-selected p {
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }
    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment  {
    height: 10px;
    background-color: transparent;
    }
    ::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
    -webkit-border-radius: 16px;
    }
    ::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: rgba(71,95,148,1);
    border: 1px solid #eee;
    -webkit-border-radius: 16px;
    }