html {
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
}
body {
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.App {
    background: rgba(0, 0, 0, .8);
    width: 60%;
    margin-left: 20%;
    margin-top: 5rem;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.title {
    list-style-type: none;
    padding: 1em;
}
.title-selected {
    background: rgba(71,95,148,1);
    border-radius: 10px;
    transition: .5s;
}
.title-selected label{
    color: #fff;
}
.title-selected p {
    color: #fff;
}
.titles-wrapper{
    float: left;
    width: 30%;
}
.caption-wrapper {
    float: right; 
    width: 60%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }
    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment  {
    height: 10px;
    background-color: transparent;
    }
    ::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
    -webkit-border-radius: 16px;
    }
    ::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: rgba(71,95,148,1);
    border: 1px solid #eee;
    -webkit-border-radius: 16px;
    }

.modal-title-square {
    height: 15%;
    width: 10%;
    background-color:rgb(111, 83, 167);
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.modal-title {
    vertical-align: middle;
    margin-left: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.popup-button {
    margin-top: 10%;
    float: right;
    padding: .7rem 1rem .7rem 1rem;
    border: none;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    font-weight: 800;
}

.submit{
    color: #fff;
    background: #007a5a;
}
.cancel {
    margin-right: 1em;
    border: 1px solid #5e5e5e;
}